.App {
  text-align: center;
}

.App-header {
  background-color: #03233e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 24px;
}

.Movie-wrapper {
  width: 400px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search {
  height: 35px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 32px;
  padding: 16px;
  width: 50%;
  background-color: antiquewhite;
}

.Movie-title {
  height: 60px;
  font-weight: bold;
  padding-bottom: 26px;
}

.Movie-image {
  width: 350px;
}

.Movie-date {
  font-style: italic;

}

.Movie-rate {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
  padding-bottom: 16px;
}